
.book_review{

    background: linear-gradient(336.91deg, #F0F4FD -56.86%, #FFFFFF 126.39%);
    }    
  
  .card-action{
      border:none!important;
  }

  /* Book Review Heading */
     .br-heading{
        margin-top:1%;
        font-family: Circular Std;
        font-size: 32px;
        line-height: normal;
        text-align: center;
        color: #384F7D;
        }
        
        
        
        /* Book Review Paragraph */
        .br-paragraph{
        
        
        font-family: Circular Std;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(56, 79, 125, 0.8);
        }